/*  ======================       MONTSERRAT FONT   ========================   */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.ttf) format('ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf) format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format('ttf');
    font-weight: 700;
}

/*  ======================       Playfair Display FONT   ========================   */
@font-face {
    font-family: 'PlayFair Display';
    src: url(../fonts/PlayfairDisplay-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Medium.ttf) format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-SemiBold.ttf) format('ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Bold.ttf) format('ttf');
    font-weight: 700;
}



body{
    color: #313131;
    width: 100%;
    height: 100vh;
    margin: 0;
}


/*  ======================      HEADER        ========================   */

header{
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo{
    font-family: 'Montserrat';  
    font-weight: 600;
    letter-spacing: 8px;
    cursor: pointer;
}
nav{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

nav .nav-bar{
    margin: auto 0;
}

.nav-bar a{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-bar a:hover{
    color: #313131;
}


.menu-icon{
    width: 25px;
    height: 25px;
    margin:  auto 0;
}

.main-image{
    position: absolute;

    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100vh;
}

.context{
    color: #313131;
    max-width: 38%;
    margin-left: 2%;
    margin-right: 5%;
    position: absolute;
    font-family: 'PlayFair Display';
    
    top: 30%;
}

.context h1{
    font-weight: 600;
}

.context-paragraph{
    margin: 5% 0;
}


.CTA, .CTA-video{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151515;
    margin: 10px 5px;
    border-radius:70px;
}



.CTA{
    width: 40%;
    padding: 4%;
    background-color: #FFD600;
    border: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.CTA:hover {
    background-color: #313131;
    box-shadow: 0px 15px 20px rgba(29, 129, 89, 0.4);
    color: #fff;
}

.CTA-video{
    background-color: transparent; 
    box-sizing: border-box;
    border: 1px solid #313131;
    margin: 10px 5px;
    padding: 3%;
}

.CTA-video::before{
    content: '';
    box-sizing: border-box;
    display: inline-block;
    background-image: url(../icons/play-button.svg);
    color: #fff;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin : 0 10px;
}

.CTA-video:hover {
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border : transparent;
    color: #313131;
}


.slider{
    position: absolute;
    bottom: 10%;
}


.row{
    height: 15vh;
}
.col, .col-md-3{
    
    position: relative;
    margin: 0 15px;
}
.hide{
    opacity: 0;
}


.box{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  
}
.image-1{
    background-image: url(../images/image1.jpg);
}

.image-2{
    background-image: url(../images/image2.jpg);
}

.image-3{
    background-image: url(../images/image3.jpg);
}


.box-number{
    color: #fff;
    font-family: 'PlayFair Display';
    font-size: 1.5em;
    margin: 5%;
}

.box-title{
    max-width: 50%;
    line-height: 1.25em;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 0.75em;   
    margin-bottom: 10%;
    margin-left: 5%;
    position:absolute;
    bottom: 0;
}

.box-icon{
    width: 7%;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right:10%;
    margin-bottom: 10%;
}


/*  ======================      SECTION         ========================   */

.section{
    color: #313131;
    margin-top: 7%;
    height :50vh;
}
.section .container .row .col {
   
    margin-left: auto;
    margin-right: auto;
}
.section-img{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15px;
}

.section-img-1{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    
    border-radius: 15px;
}

.grey-shadow{
    max-width: 80%;
    width: 60%;
    height: 60%;
    display: block;
    left: 45px;
    top: -20px;
    margin-right: auto;
    text-align: center;
    background-color: #efefef;
    position: absolute;
    border-radius: 15px;
    z-index: -3;
    
}


.grey-shadow-2{
    max-width: 80%;
    width: 60%;
    height: 60%;
    display: block;
    top:-20px;
    right: 45px;
    margin-right: auto;
    text-align: center;
    background-color: #efefef;
    position: absolute;
    border-radius: 15px;
    z-index: -3;
    
}

.section-context{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}



.section-title{
    max-width: 80%;
    font-family: 'PlayFair Display', serif; 
    font-weight:700; 
    font-size: 2em;
    color: #313131;
}

.section-paragraph{
    max-width: 80%;
    font-family: 'Montserrat', sans-serif; 
    font-weight:500;
    font-size: 0.75em; 
}

.yellow{
    color: #FFD600;
    
}

.section-cta{
    border: 2px solid #FFD600;
    border-radius: 35px;
    background: transparent;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFD600;
    padding: 4%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 5% 0;
}


/*  ======================      FOOTER         ========================   */
.footer .container{
    position: relative;
}

.footer .row{
    height: 6vh;
    margin-right: 0;
    padding-left: 4%;
      
    
    box-sizing: border-box;
}

.footer .container .row .col{
    position: relative;
    align-items: center;
        
}

.link{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #bbb;
    font-size: 0.75em;
    margin: 0;
}

.social-network{  
    display: flex;
    
    width: 100%;
    padding: 4%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-network-icons{
    
    vertical-align: middle;
    width: 20px;
    max-height: 30px;
    margin: 0 8%;
}
.social-network-icons:hover{
    background-color: #fff;
}
.grey-background{
    padding: 0;
    padding-top: 2%;
    margin: 0;
    background-color: #efefef;
}










.section-title span{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
    white-space:pre;
}


.section-title span.fade{
    opacity: 1;
    transform: translateY(0px);
}